.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-image: url(./images/backgrounds/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 900px;

  .contact-container {
    background-color: white;
    border-radius: 20px;
    margin: 2rem;
    padding: 2rem;
    min-width: 700px;

    @media (max-width: $bp-tablet) {
      min-width: auto;
    }

    @media (max-width: $bp-mobile) {
      padding: 1rem;
    }

    .title {
      color: $blue;
      font-family: $ubuntu-font;
      font-weight: normal;
      font-size: 40px;
      padding-left: 2rem;

      @media (max-width: $bp-mobile) {
        font-size: 26px;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;

      @media (max-width: $bp-mobile) {
        align-items: center;
      }

      .input {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1rem 1.5rem;
        border: solid 1px $yellow;
        border-radius: 50px;
        width: 400px;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        outline: none;
        color: $purple1;

        @media (max-width: $bp-tablet) {
          width: 300px;
        }

        @media (max-width: $bp-mobile) {
          width: 250px;
          font-size: 14px;
        }

        &::placeholder {
          color: $purple1;
          font-family: $nunito-font;
          font-size: 18px;

          @media (max-width: $bp-mobile) {
            font-size: 16px;
          }
        }
      }

      textarea {
        min-height: 5rem;
        resize: none;
        transition: all 0.5s ease;

        &:focus {
          min-height: 8rem;
        }
      }

      .cta {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 10px 80px;
        margin-top: 0.5rem;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .contact-form-image {
    width: 500px;
    position: relative;
    margin-left: -18.5rem;
    margin-bottom: 5rem;

    @media (max-width: $bp-large) {
      width: 300px;
    }

    @media (max-width: $bp-tablet) {
      display: none;
    }
  }
}