.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .title {
    color: $blue;
    font-size: 40px;
    font-family: $ubuntu-font;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;

    @media (max-width: $bp-mobile) {
      font-size: 26px;
    }
  }

  hr {
    border-top: 2px solid $blue;
    width: 10rem;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;

    .icons-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 2rem;
      width: 300px;

      @media (max-width: $bp-mobile) {
        padding: 0.5rem;
        width: 150px;
      }

      .icon {
        height: 90px;
        width: auto;

        @media (max-width: $bp-mobile) {
          height: 50px;        
        }
      }

      .icon-text {
        font-size: 20px;
        font-family: $nunito-font;
        color: $blue;
        padding: 1rem;
        margin: 0;

        @media (max-width: $bp-mobile) {
          font-size: 12px;
          padding: 0.5rem;
        }
      }
    }
  }
}